<div class="header">
  <div class="top_row">
    <div class="logo">
      <img src="assets/images/9ach.png" alt="9ACHLOGO" />
    </div>
    <div class="search">
      <div class="bar">
        <input
          class="searchbar"
          type="text"
          placeholder="search for products"
        />

        <i class="bx bx-search seaicom"></i>
      </div>
    </div>
    <div class="end">
      <div class="login">
        <a href=""><i class="fa-regular fa-user"></i>LOGIN</a>
      </div>
      <div class="cart">
        <a href=""><i class="bx bx-shopping-bag"></i>CART</a>
      </div>
    </div>
  </div>

  <div class="menu">
    <a href="" class="men">MEN</a>

    <a href="" class="women">WOMEN</a>
  </div>
</div>
