<div class="container">
  <div class="card">
    <div class="card__border">
      <img
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
        alt="card image"
        class="card__img"
      />
    </div>

    <h3 class="card__name">{{ user!.name }}</h3>
    <span class="card__profession">Joined : {{ user!.joinedAt | date }}</span>

    <div class="card__social" id="card-social">
      <div class="card__social-control">
        <span class="card__social-text" *ngIf="user!.isAdmin">Admin</span>
        <span class="card__social-text" *ngIf="!user!.isAdmin">User</span>
      </div>
    </div>
  </div>
  <form>
    <div class="informations">
      <div class="username">
        <div class="name">
          <p>USERNAME</p>
          <br />
          <input type="text" [value]="user.name" />
        </div>
        <div class="email">
          <p>E-MAIL ADRESS</p>
          <br />
          <input type="text" [value]="user.email" />
        </div>
      </div>
      <div class="newpass">
        <div class="pass">
          <p>NEW PASSWORD</p>
          <br />
          <input type="password" />
        </div>
        <div class="reppass">
          <p>CONFIRM PASSWORD</p>
          <br />
          <input type="password" />
        </div>
      </div>
    </div>
  </form>
</div>
