<nav class="navbar">
  <div class="navitems">
    <div class="sale">
      <a class="salelink" routerLinkActive="active" routerLink="sale/cat/7046"
        >SALE</a
      >
    </div>
    <a class="nav-item" routerLinkActive="active" routerLink="new-in/cat/6992"
      >NEW</a
    >
    <a class="nav-item" routerLinkActive="active" routerLink="shoes/cat/4172"
      >SHOES</a
    >
    <a
      class="nav-item"
      routerLinkActive="active"
      routerLink="coats-&-jackets/cat/2641"
      >COATS & JACKETS</a
    >
    <a class="nav-item" routerLinkActive="active" routerLink="dresses/cat/8799"
      >DRESSES</a
    >
    <a class="nav-item" routerLinkActive="active" routerLink="jeans/cat/3630"
      >JEANS</a
    >
    <a
      class="nav-item"
      routerLinkActive="active"
      routerLink="sportswear/cat/26091"
      >SPORTSWEAR</a
    >
    <a
      class="nav-item"
      routerLinkActive="active"
      routerLink="accessoires/cat/4174"
      >ACCESSOIRES</a
    >
    <a
      class="nav-item"
      routerLinkActive="active"
      routerLink="face-body/cat/1314"
      >FACE + BODY</a
    >
  </div>
</nav>
<router-outlet></router-outlet>
