<div class="container">
  <div class="container2">
    <div class="header logins">
      <button routerLink="/register">REGISTER</button>
      <button routerLink="/login">LOGIN</button>
    </div>
    <form [formGroup]="userlogin">
      <div class="body">
        <div class="elems">
          <div class="alert alert-danger" *ngIf="errormsg != undefined">
            <i class="fa-solid fa-triangle-exclamation"></i>

            {{ errormsg | titlecase }}
          </div>
          <p>Email Address:</p>
          <input type="email" placeholder="Email" formControlName="email" />
          <p>Password:</p>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <button class="loginbutton" (click)="login()">LOG IN</button>
          <div class="loginwith">
            <div class="google">
              <button class="google">
                <i class="fab fa-google fa icon"></i>
                LOG IN WITH GOOGLE
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
