<div class="container">
  <div class="container2">
    <div class="header logins">
      <button>REGISTER</button>
      <button>LOGIN</button>
    </div>
    <div class="body">
      <div class="elems">
        <p>Email Address:</p>
        <input type="email" placeholder="Email" />
        <p>Password:</p>
        <input type="password" placeholder="Password" />
        <button class="loginbutton">LOG IN</button>
        <div class="loginwith">
          <div class="google">
            <button class="google">
              <i class="fab fa-google fa icon"></i>
              LOG IN WITH GOOGLE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
