<div class="footer container">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/images/9ach.png" alt="logo" />
    </a>
  </div>
  <div class="menus">
    <div class="menu">
      <a routerLink="/">Home</a>
      <a routerLink="/">Contact Support</a>
      <a routerLink="/">Terms of service</a>
      <a routerLink="/">About</a>
    </div>
    <div class="menu">
      <a routerLink="/">FAQ</a>
      <a routerLink="/">Try Now !</a>
      <a routerLink="/">Live</a>
      <a routerLink="/">Must Read</a>
    </div>
    <div class="menu">
      <a routerLink="/"><i class="bx bxl-facebook"> </i></a>
      <a routerLink="/"><i class="bx bxl-instagram"> </i></a>
      <a routerLink="/"><i class="bx bxl-twitter"> </i> </a>
      <a routerLink="/"><i class="bx bxs-envelope"> </i></a>
    </div>
  </div>
</div>
<h6 class="rights">2022 OMAR ZAIRI & MOHAMED AZIZ LOUATI</h6>
