span {
  width: 10rem;
}
.prod {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.nom {
  width: fit-content;
}
.selling,
.price {
  text-align: center;
}
.gest {
  display: flex;
  justify-content: center;
}
